@font-face {
  font-family: "SPFroDisplay-Light", sans-serif;
  src: url("../fonts/SFProDisplay-Light.woff2") format("wolf2"),
    url("../fonts/SFProDisplay-Light.woff") format("wolf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SPFroDisplay-Regular", sans-serif;
  src: url("../fonts/SFProDisplay-Regular.woff2") format("wolf2"),
    url("../fonts/SFProDisplay-Regular.woff") format("wolf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SPFroDisplay-Medium", sans-serif;
  src: url("../fonts/SFProDisplay-Medium.woff2") format("wolf2"),
    url("../fonts/SFProDisplay-Medium.woff") format("wolf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SPFroDisplay-Semibold", sans-serif;
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("wolf2"),
    url("../fonts/SFProDisplay-Semibold.woff") format("wolf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SPFroDisplay-Bold", sans-serif;
  src: url("../fonts/SFProDisplay-Bold.woff2") format("wolf2"),
    url("../fonts/SFProDisplay-Bold.woff") format("wolf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
